Predicting the NBA MVP: Machine Learning Project [part 3 of 3]

* Reading the data into Pandas and cleaning it

In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

Column deletion Unnamed: 0

In [4]:
del stats["Unnamed: 0"]

Machine learning algorithms don't like to use null or missing values

In [5]:
pd.isnull(stats)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14088,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14089,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14090,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14091,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

The SUM() will show the number of nulls in each column

In [6]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

Selection in the row statistic of columns with percentage of three null points, it probably means that the player did not try

In [7]:
stats[pd.isnull(stats["3P%"])]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
18,Jack Haley,C,28,LAL,49,9,8.0,0.6,1.7,0.369,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
20,Keith Owens,SF,22,LAL,20,0,4.0,0.5,1.6,0.281,...,0.0,0.0,Los Angeles Lakers,43,39,0.524,14.0,100.4,101.5,-0.95
30,Benoit Benjamin,C,28,LAL,59,6,12.8,2.3,4.6,0.491,...,0.0,0.0,Los Angeles Lakers,39,43,0.476,23.0,104.2,105.5,-1.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14061,Evan Eschmeyer,C,24,NJN,31,5,12.0,1.2,2.3,0.528,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18
14062,Gheorghe Mureșan,C,28,NJN,30,2,8.9,1.4,3.0,0.456,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18
14064,Jim McIlvaine,C,27,NJN,66,53,15.9,1.0,2.3,0.416,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18
14070,Mark Hendrickson,PF,25,NJN,15,0,4.7,0.3,0.5,0.625,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18
14071,Michael Cage,C,38,NJN,20,7,12.1,0.6,1.2,0.500,...,0.0,0.0,New Jersey Nets,31,51,0.378,21.0,98.0,99.0,-1.18

Players with 3 point attempts at 0

In [8]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14061    Evan Eschmeyer  0.0
14062  Gheorghe Mureșan  0.0
14064     Jim McIlvaine  0.0
14070  Mark Hendrickson  0.0
14071      Michael Cage  0.0

[2042 rows x 2 columns]

In [9]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
13951    Mark McNamara  0.0
13979      Luke Zeller  0.0
14032      Myron Brown  0.0
14054      Malcolm Lee  0.0
14088      Steve Novak  0.0

[462 rows x 2 columns]

This shows us that all those players who had undefined or missing values in free throw percentage, had zero bid attempts.
So let's replace all these percentages with zero, it's not technically correct, but in this case, if the player has zero percentage on three-point shots, he's not in the race for MVP.

* Training a Machine Learning Model

In [10]:
stats = stats.fillna(0)

In [11]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

All numeric columns will be used in the prediction, except 'Pts Won', 'Pts Max', 'Share', otherwise the algorithm will know what it is trying to predict.
'Share' is the percentage of votes the player has won.
'Pts Won' is correlated with 'Share', it's just the points earned divided by 'Pts Max'.

- PREDICTORS = Predicted percentage of MVP votes that someone got in a given year.

In [12]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year','W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

Test to train data only from before 2021, this gives us MVP data and all player data before year 2021.

In [13]:
train = stats[stats["Year"] < 2021]

In [14]:
test = stats[stats["Year"] == 2021]

Building the first machine learning using ridge regression, a form of linear regression designed to avoid overfitting

In [15]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

First ML model, using the PREDICTORS columns in the training datasets, to try to predict the share of an MVP vote that someone got and then we actually go ahead and make the predictions.

reg.fit(train[predictors], train["Share"])

In [16]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [17]:
predictions = reg.predict(test[predictors])

In [18]:
predictions

array([ 1.35665498e-02, -1.37555414e-02,  2.41414998e-03, -4.42071599e-03,
        1.07343735e-02, -4.23915294e-03,  1.33568187e-02,  4.20437025e-02,
       -1.33299355e-03,  5.42260794e-02,  2.35424779e-03,  1.54306582e-01,
       -8.23366269e-03,  1.58909397e-02, -9.51581308e-03, -1.75052005e-03,
       -7.53758190e-03, -7.76828578e-03, -1.56384106e-02, -1.31180236e-02,
       -4.11723488e-03,  5.17868381e-02, -1.03275136e-02,  8.91410689e-02,
        1.05932229e-02, -1.24190461e-02,  4.54788458e-04, -1.89451742e-02,
       -3.61394240e-03,  5.68823230e-03, -1.98299488e-02, -4.03358512e-03,
        3.91549563e-02,  2.69110931e-02,  1.65421352e-02,  1.42847142e-02,
        2.03731271e-03, -1.51727877e-02, -4.43060273e-03,  3.42220991e-02,
       -2.37989617e-02,  3.42493992e-04,  6.72439325e-02,  8.81182912e-02,
        4.46785082e-02,  2.09623088e-03,  6.91508106e-03, -1.20337286e-02,
        3.00910782e-02, -3.91652197e-02, -1.67021027e-02, -1.39052366e-03,
       -2.28857637e-03, -1.94050610e-02,  7.09744622e-03, -1.13680062e-04,
        2.01093717e-02,  7.22940361e-02,  9.92462611e-03,  3.30437411e-02,
        7.52357827e-02, -1.80071612e-02,  1.79428747e-02,  6.08850826e-03,
       -3.68266195e-03,  6.53593816e-03, -4.41039218e-04,  1.27785738e-02,
        4.60410699e-04,  7.78710379e-03, -3.15620986e-03, -2.05978625e-02,
       -8.26940088e-04, -3.59330484e-03,  5.12948317e-03, -5.81792641e-03,
       -1.24756444e-03, -3.66550444e-02, -1.65054572e-02,  1.76350682e-02,
        8.54198643e-02, -2.54237119e-02, -1.90678877e-03,  2.95105539e-02,
       -2.03773966e-03, -1.85804461e-02,  9.11361867e-02,  3.93663607e-02,
       -2.73080788e-02, -3.15129810e-02,  3.64241576e-03,  1.58505894e-02,
       -3.51431885e-04, -6.28110640e-03, -2.76569539e-03, -1.95562435e-02,
       -8.50956697e-03, -3.47331479e-03, -8.65762340e-03,  1.21898716e-02,
        6.24928622e-03,  9.30011593e-02, -1.55442758e-03, -1.57925817e-02,
        9.41978067e-03,  2.70172486e-03,  1.91767044e-02,  3.30003326e-02,
       -1.03894464e-02, -3.41405831e-04,  2.05671847e-02,  1.88275396e-02,
        8.88775353e-02, -7.37521815e-03, -1.26612300e-02, -1.41208068e-02,
       -7.02822159e-03,  2.91364681e-03,  7.95984146e-03, -1.38749802e-02,
       -1.29402196e-02,  2.17292146e-02, -3.88721814e-03,  2.84265917e-02,
        3.19908567e-04,  2.29820517e-02,  1.00718077e-02, -1.74501375e-03,
        8.34603289e-03, -1.95300916e-02,  1.80048655e-02,  9.52951446e-04,
        1.46325220e-02,  2.05639170e-03, -2.78257443e-02,  1.98264476e-02,
        5.35162594e-04, -6.75345520e-03,  1.42385929e-01, -3.23148057e-03,
        2.02196614e-03,  5.36113164e-02,  9.71549338e-02, -3.02674946e-03,
        1.71008468e-02, -5.35014890e-04,  3.23000164e-03, -1.66722156e-02,
        6.75924430e-03, -5.82127333e-04,  1.47511254e-01,  7.76058045e-03,
       -4.50036663e-03,  5.01788751e-02,  1.16458547e-02, -1.76632773e-02,
       -1.60874161e-03, -1.23108941e-02, -6.23994252e-02,  1.02510860e-01,
       -7.78915524e-03, -2.08054834e-02,  8.39883494e-03, -2.65044597e-02,
       -7.91960390e-03, -1.54738687e-02, -2.95841405e-02, -9.04092105e-03,
       -3.50724574e-02, -8.53727872e-03, -1.15745127e-02, -1.44467450e-02,
        1.20227550e-01,  2.25932034e-02,  8.10871199e-03, -2.69071178e-02,
        1.17456048e-02,  3.65558172e-03,  7.04735818e-03,  9.05748053e-03,
       -5.86035289e-03,  1.40598070e-01,  5.43049853e-03, -2.80713583e-03,
        1.41350293e-01,  1.00830799e-01,  1.54903791e-02, -1.11904347e-02,
        1.87737372e-03,  9.31203669e-03,  6.42906591e-03, -1.22835582e-02,
       -2.32042887e-03, -1.82323351e-02, -1.72679168e-02, -3.69213310e-03,
       -1.10498026e-02,  3.16082966e-02,  6.13081469e-03, -3.65556341e-02,
        1.13349873e-01, -6.43815738e-03,  4.69752229e-03,  4.21796504e-03,
       -2.15667184e-03, -6.90393912e-03, -6.99144811e-03,  7.54787009e-02,
       -9.05330172e-04,  6.90456393e-03,  2.09381820e-02, -5.37890890e-03,
        5.61741401e-03,  1.13487218e-02, -2.96731189e-03, -9.66936376e-03,
        5.00006537e-02, -1.25519439e-02, -2.85342525e-02,  4.99436222e-03,
       -7.36814364e-03, -8.83075922e-03, -4.83220957e-02,  1.50616317e-04,
        3.79850653e-02, -9.33583245e-03,  3.62577739e-02, -8.29719478e-03,
       -6.01061358e-03,  3.09108961e-03, -1.95468150e-02, -3.17193905e-04,
        2.54166290e-03, -6.69409992e-04, -5.89793084e-03, -4.96443115e-03,
        8.01941199e-02,  2.06057228e-02, -3.69050161e-03, -1.07467883e-02,
        1.24888900e-02,  1.17101983e-01, -1.65045015e-02,  9.48466852e-03,
        6.10832835e-03,  5.89446428e-03,  6.56153750e-03,  4.37019210e-03,
       -5.88331167e-03,  1.58107480e-02,  1.28925337e-02,  4.98039501e-02,
       -1.51898611e-03, -5.51753184e-03,  5.67462875e-02,  7.44016400e-03,
        1.16302830e-01, -1.96498840e-02,  2.08348780e-02, -1.27270396e-03,
        3.98893045e-02, -5.91740967e-03, -1.21665916e-02,  2.29390501e-02,
       -1.00960194e-02, -4.91797750e-03, -1.18281743e-02,  1.88461833e-02,
        7.13139818e-03,  4.54207879e-02, -2.55858276e-02, -2.71999722e-02,
       -1.08263081e-02, -6.74765634e-03, -1.99286610e-02, -5.56002375e-03,
       -1.23249552e-02, -2.75478037e-02,  7.61064018e-03,  9.26311793e-02,
        9.86042815e-03,  2.98767531e-02,  9.85144906e-03, -3.52752819e-02,
       -2.15504575e-02, -4.12792256e-02, -9.05040847e-03,  2.24385702e-02,
       -1.43640841e-02,  8.24638382e-02, -6.62887623e-03, -3.67788866e-03,
       -3.16917350e-02, -1.78384977e-02, -4.06424124e-03,  2.40600744e-02,
       -8.00244890e-03,  4.53189391e-02, -2.10838010e-02,  2.64064194e-02,
       -6.19370544e-03,  5.31117270e-03,  3.34758109e-02, -3.07385422e-02,
       -2.55179492e-02, -6.99661594e-03,  6.25370330e-02, -1.83105838e-03,
       -7.26242049e-03,  2.57037295e-02,  6.31672752e-03, -2.40401003e-02,
       -2.41365920e-03, -1.07283173e-03,  1.62713046e-01,  1.57092613e-02,
       -1.12981748e-02, -1.32290939e-02,  2.67366225e-03,  5.77312144e-03,
       -5.48581067e-03,  1.44743577e-02,  4.34768985e-03,  6.37022651e-02,
        7.64863210e-03,  2.99104340e-03, -2.41438110e-02,  5.11001744e-02,
       -1.65901240e-02,  3.26404927e-02, -2.85407195e-02, -1.49418357e-02,
        5.84725463e-03, -3.94230493e-03, -2.31774281e-02,  3.32670825e-02,
       -7.72513211e-03,  1.24326948e-02,  4.84960418e-02, -5.03439316e-02,
       -1.05571487e-02, -3.73677093e-02, -1.55066310e-02, -9.51673895e-03,
       -7.07638820e-03,  2.03571650e-02,  8.66175366e-03, -5.93950340e-03,
       -9.03221507e-03, -2.62267853e-02,  2.07436343e-01,  4.31329576e-04,
       -9.50414879e-03,  3.25601543e-03,  4.52524823e-02, -1.15496310e-02,
        4.84905140e-02, -3.88039526e-03, -5.49948706e-02, -1.06077610e-02,
       -6.55800809e-03, -7.58611466e-03, -1.61153327e-02, -2.16494102e-02,
       -8.79257299e-03, -5.22782192e-03, -1.77368424e-02,  1.43052338e-02,
        1.52925043e-02,  4.11017536e-02, -4.84395203e-03, -1.14609813e-02,
        4.04125032e-02,  4.86687480e-03,  7.17660856e-03,  6.89723774e-04,
       -1.09361957e-02,  6.79166317e-03,  3.89825864e-02, -9.39953391e-03,
        5.86838971e-03, -2.90320773e-02, -1.05619002e-03, -1.92800217e-03,
        2.21478654e-02, -1.76053087e-02, -1.97108527e-02,  5.94674941e-02,
        1.51429998e-01, -2.23020481e-02,  4.06341439e-03, -7.84156516e-03,
        2.31127800e-02, -2.34516309e-03, -1.03317720e-02,  3.37781975e-03,
       -6.34655346e-03,  2.37569932e-02, -6.93103071e-03, -1.34000389e-02,
       -2.31777884e-02,  6.57984688e-02,  2.49474095e-02,  1.59058135e-02,
        4.41189597e-02, -9.54226550e-03, -2.98496400e-02,  4.28137911e-03,
        2.22075803e-04, -1.07537729e-02, -3.94272912e-04, -3.08441471e-02,
       -3.47056597e-02,  9.99117842e-02,  1.32178165e-02,  6.74389845e-03,
        7.87290289e-02,  6.80938232e-03,  1.61942321e-03, -2.84414299e-03,
       -1.68716596e-03,  2.21793176e-02,  3.80803446e-02, -6.95730211e-03,
        1.14325382e-03,  4.41216428e-02, -1.09763030e-02, -2.55057864e-02,
        9.53494056e-02, -9.23873467e-03, -3.39148819e-03,  1.17935871e-02,
        7.11701897e-03, -1.30884015e-02, -5.67815812e-03, -2.29122125e-03,
        5.16363334e-02,  3.64854333e-02, -6.04470016e-03,  6.00153815e-02,
       -7.91226996e-03, -1.78014928e-02, -9.33381934e-03,  4.27060607e-02,
       -1.91600072e-02, -6.97869477e-03,  3.03240923e-03, -3.38413287e-03,
        6.14205925e-02, -6.95418997e-02, -1.07260714e-03, -4.23803542e-02,
       -5.80594175e-03, -1.29106061e-04, -3.38123177e-03,  1.83329237e-03,
       -1.83650573e-02,  1.57855580e-02,  3.05775208e-03,  2.24396479e-03,
       -2.17448957e-02, -2.14368455e-02, -2.84810336e-02, -1.12282743e-02,
        6.79154221e-03,  1.27926179e-01,  5.46602529e-03,  1.46831724e-03,
       -2.41552392e-02, -1.35106193e-02,  1.00763055e-01,  8.52632383e-03,
       -2.58128250e-02,  2.14119215e-02,  2.93730272e-02, -8.32661978e-03,
       -1.61691080e-03, -2.71101561e-03,  1.25039940e-02,  1.46943061e-02,
       -2.23458001e-02,  3.83066039e-02,  8.83139397e-04,  2.87587303e-03,
        5.58366480e-03, -2.37834505e-02, -1.88593677e-02, -5.43244237e-03,
       -5.08740509e-03,  1.94909687e-03, -1.67728150e-02, -3.20247020e-02,
       -3.55215328e-02, -3.06915232e-02, -1.46371762e-02, -1.78171048e-02,
       -2.25141396e-02, -1.48176624e-02, -1.77018862e-02,  2.07438590e-02,
        6.08906703e-04,  5.85902898e-03, -4.37965408e-03, -5.56533844e-03,
       -1.38247288e-02,  8.37980275e-03,  1.48234684e-02, -6.57330544e-03,
       -2.99890915e-03, -2.49487621e-03, -4.83896610e-03,  1.63775580e-02,
       -9.97713943e-03, -1.50983456e-02,  4.71740377e-02,  7.91836034e-03,
       -5.13163314e-02,  2.91106341e-02, -8.95878232e-03, -3.13464784e-04,
       -3.23359195e-03, -2.46168511e-02, -2.32870506e-02, -6.94279272e-03,
        8.18169324e-02,  3.22062756e-02,  1.71863580e-02, -1.31103971e-02,
       -4.64241312e-03,  1.31514042e-02,  1.19330958e-03, -6.79372296e-03,
       -1.74791423e-04, -1.93683129e-02, -4.99658415e-03, -1.25711450e-02,
       -1.15750596e-02,  1.64240807e-02, -2.04343987e-02, -5.42118363e-03])

This is a Numpy array, so converted to a data frame in Pandas so it's easier to work with.

In [19]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [20]:
predictions

       predictions
630       0.013567
631      -0.013756
632       0.002414
633      -0.004421
634       0.010734
...            ...
13897    -0.012571
13898    -0.011575
13899     0.016424
13900    -0.020434
13901    -0.005421

[540 rows x 1 columns]

Comparing actual values with forecasts, combining "Player", "Share" and concatenating with current forecasts.

In [21]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [22]:
combination

                       Player  Share  predictions
630              Aaron Gordon    0.0     0.013567
631             Austin Rivers    0.0    -0.013756
632                   Bol Bol    0.0     0.002414
633          Facundo Campazzo    0.0    -0.004421
634          Greg Whittington    0.0     0.010734
...                       ...    ...          ...
13897             Patty Mills    0.0    -0.012571
13898  Quinndary Weatherspoon    0.0    -0.011575
13899                Rudy Gay    0.0     0.016424
13900               Tre Jones    0.0    -0.020434
13901              Trey Lyles    0.0    -0.005421

[540 rows x 3 columns]

Adjusting dataframe to only see players who actually won the MVP.

In [23]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
641             Nikola Jokić  0.961     0.154307
8624             Joel Embiid  0.580     0.162713
3651           Stephen Curry  0.449     0.142386
9907   Giannis Antetokounmpo  0.345     0.207436
1389              Chris Paul  0.138     0.072294
10997            Luka Dončić  0.042     0.151430
7464          Damian Lillard  0.038     0.116303
3536           Julius Randle  0.020     0.088878
3531            Derrick Rose  0.010     0.033000
11358            Rudy Gobert  0.008     0.095349

* Indentifying an error metric

Basically this functions equation value take the actual values and the predicted values of an average error metric.

In [24]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.0026668954567103916

But in this case it's not important because I don't need the actual values and 525 of the values are actually just zero because these players didn't get any MVP votes.
So in this case this error metric doesn't make sense, because I'm just looking for the top five and best players in the ranking.

In [25]:
combination["Share"].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: Share, dtype: int64

In [26]:
actual = combination.sort_values("Share", ascending=False)
predicted = combination.sort_values("predictions", ascending=False)
actual["Rk"] = list(range(1,actual.shape[0]+1))
predicted["Predicted_Rk"] = list(range(1,predicted.shape[0]+1))

In [27]:
combination.head(10)

                 Player  Share  predictions
630        Aaron Gordon    0.0     0.013567
631       Austin Rivers    0.0    -0.013756
632             Bol Bol    0.0     0.002414
633    Facundo Campazzo    0.0    -0.004421
634    Greg Whittington    0.0     0.010734
635      JaMychal Green    0.0    -0.004239
636        JaVale McGee    0.0     0.013357
637        Jamal Murray    0.0     0.042044
638       Markus Howard    0.0    -0.001333
639  Michael Porter Jr.    0.0     0.054226

In [28]:
actual.merge(predicted, on="Player").head(5)

,Player,Share_x,predictions_x,Rk,Share_y,predictions_y,Predicted_Rk
0,Nikola Jokić,0.961,0.154307,1,0.961,0.154307,3
1,Joel Embiid,0.580,0.162713,2,0.580,0.162713,2
2,Stephen Curry,0.449,0.142386,3,0.449,0.142386,6
3,Giannis Antetokounmpo,0.345,0.207436,4,0.345,0.207436,1
4,Chris Paul,0.138,0.072294,5,0.138,0.072294,33

There are large discrepancies in the difference between the predicted rating and the actual rating.
It uses the error metric called average precision, it is not used much for regression ML because it deals with classification

Trying to find out the top five players in MPV VOTING and how far you need to go in predictions to find them, so following the "Predicted_RK" column, Nikola Jokic needs to go down 3 predictions, Joel Embiid needs to go down 2, Stephen Curry needs to go down 6 and so on against.
So, the logic would be to go through all the prediction lines and if the player in this line is in the top five we will give a credit of 1 for finding them, and if we don't find them a scene counter will be incremented.

In [29]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found / seen)
        seen += 1

    return sum(ps) / len(ps)

In [30]:
find_ap(combination)

0.7636363636363636

* Implementing backtesting to predict each year

So now there is a way to find the error.
When running the algorithm for all years, it can be seen that it only has predictions for one year. A principle called back_testing is used to make predictions for most years.

In [31]:
years = list(range(1991,2022))

Training and test set: before 1997 is training set and 1997 test set

In [32]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [33]:
sum(aps) / len(aps)

0.7112884360789578

In [34]:
def add_ranks(predictions):
    predictions = predictions.sort_values("predictions", ascending=False)
    predictions["Predicted_Rk"] = list(range(1,predictions.shape[0]+1))
    predictions = predictions.sort_values("Share", ascending=False)
    predictions["Rk"] = list(range(1,predictions.shape[0]+1))
    predictions["Diff"] = (predictions["Rk"] - predictions["Predicted_Rk"])
    return predictions

In [35]:
add_ranks(all_predictions[1])

                Player  Share  predictions  Predicted_Rk   Rk  Diff
1600       Karl Malone  0.857     0.192318             2    1    -1
10524   Michael Jordan  0.832     0.167629             3    2    -1
908         Grant Hill  0.327     0.128646             6    3    -3
4682      Tim Hardaway  0.207     0.059984            20    4   -16
8248         Glen Rice  0.117     0.033110            53    5   -48
...                ...    ...          ...           ...  ...   ...
10136   Horacio Llamas  0.000     0.010171           156  437   281
3576     Ennis Whatley  0.000     0.010250           155  438   283
10594  Kevin Salvadori  0.000     0.010553           154  439   285
1138    Aaron Williams  0.000     0.010594           153  440   287
6792     Melvin Booker  0.000    -0.055185           441  441     0

[441 rows x 6 columns]

In [36]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [37]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [38]:
mean_ap

0.7112884360789578

In [39]:
all_predictions[all_predictions["Rk"] < 5].sort_values("Diff").head(10)

                Player  Share  predictions  Predicted_Rk  Rk  Diff
1224        Jason Kidd  0.712     0.028209            52   2   -50
5175        Steve Nash  0.839     0.034100            45   1   -44
8516   Peja Stojaković  0.228     0.036269            38   4   -34
12726      Joakim Noah  0.258     0.046968            37   4   -33
5193        Steve Nash  0.739     0.054128            34   1   -33
5208        Steve Nash  0.785     0.074421            21   2   -19
4682      Tim Hardaway  0.207     0.059984            20   4   -16
937      Allen Iverson  0.270     0.072120            14   4   -10
6746       Kobe Bryant  0.291     0.078014            14   4   -10
1157       Gary Payton  0.372     0.076708            13   3   -10

In [40]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.070002  eFG%
18  0.035041   DRB
29  0.027126  W/L%
17  0.021610   ORB
10  0.016945    2P
21  0.011635   STL
15  0.011351   FTA
22  0.011234   BLK
20  0.007456   AST
25  0.005893   PTS
4   0.005694    FG
5   0.005516   FGA
7   0.004569    3P
12  0.004083   2P%
0   0.000321   Age
30  0.000270    GB
27  0.000098     W
1   0.000092     G
2  -0.000006    GS
26 -0.000184  Year
32 -0.000219  PA/G
28 -0.000295     L
33 -0.000521   SRS
31 -0.000556  PS/G
24 -0.002634    PF
3  -0.004150    MP
16 -0.004575   FT%
14 -0.006585    FT
23 -0.009696   TOV
9  -0.009822   3P%
8  -0.010394   3PA
11 -0.017318   2PA
19 -0.027506   TRB
6  -0.135025   FG%

In [41]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [42]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [43]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [44]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [45]:
mean_ap

0.7208380973034985

* Diagnosing model performance

In [47]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Predicted_Rk  Rk  Diff
1224         Jason Kidd  0.712     0.025769            56   2   -54
12726       Joakim Noah  0.258     0.038848            45   4   -41
5175         Steve Nash  0.839     0.035739            41   1   -40
8248          Glen Rice  0.117     0.044268            44   5   -39
8516    Peja Stojaković  0.228     0.040912            33   4   -29
1389         Chris Paul  0.138     0.063156            33   5   -28
3657   Chauncey Billups  0.344     0.054745            28   5   -23
5193         Steve Nash  0.739     0.062935            22   1   -21
4682       Tim Hardaway  0.207     0.062711            25   4   -21
10513    Scottie Pippen  0.200     0.065472            21   5   -16

In [50]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0      1
22  0.133731    BLK
21  0.053429    STL
34  0.049902  PTS_R
13  0.047624   eFG%
18  0.036060    DRB
29  0.029260   W/L%
35  0.028368  AST_R
17  0.022343    ORB
10  0.019677     2P
15  0.011051    FTA
7   0.009136     3P
4   0.005830     FG
5   0.004974    FGA
0   0.000315    Age
30  0.000243     GB
27  0.000176      W
1   0.000093      G
25  0.000081    PTS
2  -0.000002     GS
26 -0.000083   Year
31 -0.000152   PS/G
28 -0.000180      L
32 -0.000311   PA/G
33 -0.000851    SRS
12 -0.001756    2P%
24 -0.002298     PF
38 -0.003084   3P_R
3  -0.004251     MP
16 -0.004272    FT%
14 -0.006614     FT
9  -0.007261    3P%
20 -0.007595    AST
8  -0.009258    3PA
23 -0.010394    TOV
11 -0.018350    2PA
36 -0.027336  STL_R
19 -0.028326    TRB
37 -0.051758  BLK_R
6  -0.108629    FG%

* Adding more predictors

In [55]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [57]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
14087  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
14088  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
14089  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
14090  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
14091  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[14092 rows x 6 columns]

In [58]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [59]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R,PTS_T
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587,1.013334
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279,1.614653
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000,0.311795
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000,0.200440
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760,2.383005

In [60]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [61]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [62]:
mean_ap

0.7208380973034985

In [66]:
stats["Pos"].unique

<bound method Series.unique of 0        PF
1        SG
2        PF
3        PF
4        SF
         ..
14087    PF
14088    PF
14089    PF
14090     C
14091    SG
Name: Pos, Length: 14092, dtype: object>

In [67]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [69]:
stats.head(5)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R,PTS_T,NPos,NTm
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587,1.013334,2,15
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279,1.614653,12,15
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000,0.311795,2,15
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000,0.200440,2,15
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760,2.383005,8,15

* Using a random forest model

In [77]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors + ["NPos", "NTm"])

In [78]:
mean_ap

0.8387324929971989